/* =====================================
 Base Element Styles
===================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sands', Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: rgb(43, 43, 43);
    background-color: rgb(248, 248, 248);
}

header {
    color: white;
    background: rgb(13, 21, 31);
    text-align: center;
    margin: -16px 0 -5px;

}

header p {
    padding: 1em 0 1em;
    font-size: large;
}

h1,
p {
    text-align: center;
}

fieldset {
    border: none;
    margin: 40px 0 ;
}

button {
    border: none;
    background: lightseagreen;
    color: white;
    width: 100%;
    padding: 1em 0;
    border-radius: 5px;
}

section {
    background-color: white;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 15px rgb(89, 164, 255);
    background-color: rgb(255, 255, 255);
}

/* =====================================
 Base Layout Styles
===================================== */

/* ---- Layout Containers ---- */

.news-form {
    padding: 1em;
    margin: 0 auto;
    max-width:700px;
}

.sub-head {
    color: rgb(172, 172, 172);
    margin-top: 0px;
    margin-bottom: 2px;
    padding-bottom: 2em;
    border-bottom: solid 6px rgb(12, 12, 12);
}

.news-form h1 {
    margin-bottom: -4px;
}

.copyright-text {
    padding: 1em 0 5em;
    color: rgb(172, 172, 172);
    font-style: italic;
}

.main-label, 
.main-input {
    display: block;
    width: 100%;   
}

#zip {
    width: 20%;
}

.main-input {
    border: none;
    background: rgb(236, 236, 236);
    padding: 16px 10px;
    border-radius: 5px;
}

.main-label {
    padding: .5em 0 5px;
}

.form-sec-head{
    font-weight: bold;
    display: block;
    font-size: 1.5em;
}


/* ---- Page Elements ---- */

.form-divider {
    border-top: solid 2px rgb(12, 12, 12);
}



/* ---- Pseudo Elements ---- */



/* =====================================
 Media Queries
===================================== */


/* ---- 768px and larger(tablet/desktop)---- */

@media(min-width:768px) {
    
    .news-form {
        width: 60%;
    }

    .contact-info .main-label,
    .contact-info .main-input {
        display: inline-block;
        float: left;
        margin-bottom: 1em;
    }

    .contact-info .main-label {
        width: 30%;
    }

    .contact-info .main-input {
        width: 70%;
    }

}

/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}